@import './utils.scss';

.about {
    .title {
        padding-bottom: 1.2rem;
    }

    pre {
        white-space: pre-wrap;
        
        font-family: inherit;
        font-size: 1.2rem;
        line-height: 170%;
    }
}