.awards {
    display: flex;

    .awardstitle {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .awardsname {
        margin-left: 0.6rem;
    }

    .award {
        display: flex;

        >p {
            font-size: 1.1rem;
            font-weight: normal;
        }

        >.name {
            margin-left: 0.3rem;
        }
    }
    .award + .award {
        margin-top: 0.3rem;
    }

    @media screen and (max-width: 940px) {
        flex-direction: column;

        .awardsname {
            margin-left: 0;
            margin-top: 0.3rem;
        }
    }
}