@import 'utils.scss';

.contact {
    display: flex;
    flex-direction: column;

    a {
        display: flex;
        align-items: center;

        font-size: 1.1rem;
        font-weight: 300;
        text-decoration: none;
        color: black;
        
        &:hover p {
            color: dimgray;
        }

        p {
            margin-left: 6px;
        }

        &.email svg {
            color: $skyblue;
        }
        &.github svg {
            color: #24292F;
        }
        &.velog svg {
            color: #1FC896;
        }
    }
    a + a {
        margin-top: 8px;
    }
}