footer {
    height: 3rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        max-width: 1300px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: lightgray;
        user-select: none;
    }
}