header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    box-shadow: 0 0 6px lightgrey;
    background-color: white;
    display: flex;
    justify-content: center;

    >div {
        max-width: 1300px;
        width: 100%;
        padding: 0 50px;
    }
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-weight: bold;
        font-size: 1.1rem;
        user-select: none;
    }
    
    .downloadBtn {
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            color: grey;
        }
    }
}
