header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    box-shadow: 0 0 6px lightgrey;
    background-color: white;
    display: flex;
    justify-content: center;

    >div {
        max-width: 1300px;
        width: 100%;
        padding: 0 3rem;
    }
}

.header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 1.4rem;
        user-select: none;
    }

    .btn {
        cursor: pointer;
        transition: all 0.2s ease-out;
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
        width: 5.5rem;
        border-radius: 1rem;

        &:hover {
            color: grey;
            background-color: #ececec;
        }

        &.pdf {
            font-size: 1.15rem;
        }

        &.download {
            font-size: 1.2rem;
            align-items: center;

            svg {
                margin-left: 0.4rem;
            }
        }
    }
    
    a {
        font-size: 1.4rem;
        transition: all 0.2s ease-out;
        
        display: flex;
        justify-content: center;
        color: black;
        
        width: 5.5rem;
        text-decoration: none;
        
        &:active {
            color: grey;
        }
    }
}

@media screen and (max-width: 500px) {
    header >div {
        padding: 0 1.5rem;
    }
}