header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    box-shadow: 0 0 6px lightgrey;
    background-color: white;
    display: flex;
    justify-content: center;

    >div {
        max-width: 1300px;
        width: 100%;
        padding: 0 3rem;
    }
}

.header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 1.4rem;
        user-select: none;
    }

    .btn {
        cursor: pointer;
        transition: all 0.2s ease-out;
        height: 2.5rem;
        width: 7rem;
        border-radius: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &.pdf {
            font-size: 1.15rem;
            color: dimgray;
            border: 0.1rem solid dimgray;

            &:hover {
                color: grey;
                background-color: #ececec;
            }
        }

        &.download {
            font-size: 1.2rem;
            background-color: dimgray;
            color: white;
            font-weight: 300;
            text-decoration: none;
            border: none;

            &:active {
                color: grey;
            }

            svg {
                font-size: 1.3rem;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    header >div {
        padding: 0 1.5rem;
    }
}