@import './utils';

.profile {
    display: flex;
    align-items: center;
    width: 100%;

    img {
        width: 7.5rem;
        height: 7.5rem;
        user-select: none;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: auto;

        .name {
            padding: 0 2.5rem;
            
            h1 {
                font-size: 2.2rem;
                font-weight: normal;

                white-space: pre-wrap;
                padding-bottom: 0.8rem;
            }
            p {
                font-size: 1.4rem;
                color: dimgray;

                padding-left: 0.3rem;
            }
        }
    }

    @media screen and (max-width: 948px) {
        flex-direction: column;

        .info {
            width: 100%;
            padding-top: 1.3rem;
            .name {
                padding: 0;

                h1 {
                    padding-bottom: 0.6rem;
                }
            }
        }
    }

    @media screen and (max-width: 760px) {
        .info {
            flex-direction: column;

            >div + div {
                padding-top: 25px;
            }
            .name {
                text-align: center;
                h1 {
                    padding-bottom: 5px;
                }
            }
        }
    }
}