@import './utils';

.projectContents {
    padding: 0 30px 30px 30px;
    background: $project-box;
    border-radius: 0 0 10px 10px;
    width: 100%;

    animation: fadein 0.5s;

    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .date {
        font-size: 1rem;
        color: grey;
        padding-left: 2px;
    }

    .tech {
        margin-top: 5px;

        p + p {
            margin-left: 10px;
        }
        >p {
            font-size: 1rem;
            display: inline-block;
            padding: 1px 8px;
            background-color: lightgrey;
            border-radius: 5px;
            color: firebrick;
            margin: 3px 0;
        }
    }

    pre {
        margin-top: 20px;
        font-size: 1rem;
        width: 100%;
        white-space: pre-wrap;
    }
}