@import './utils';

.projects {
    .wrap-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.2rem;

        button {
            cursor: pointer;
            user-select: none;
            font-size: 1.3rem;
            transition: all 0.2s ease-out;

            height: 100%;
            padding: 0.3rem 0.6rem;
            border: 2.5px solid;
            border-radius: 1.3rem;
            border-color: $skyblue;
        }
        
        .unclick {
            color: $skyblue;
            background-color: white;

            &:hover {
                color: white;
                background-color: $skyblue;
            }
        }
        
        .clicked {
            color: white;
            background-color: $skyblue;
        }
    }

    .timeline {
        display: flex;
        width: 100%;

        .line {
            background: linear-gradient(to bottom, #eee, #000 40px, #000 97%, #eee);
            width: 2px;

            position: relative;
            left: 61px;
        }

        .projectList {
            padding-top: 1.2rem;
            padding-bottom: 2.5rem;
            margin: 0 45px;
            width: 100%;

            >div + div {
                margin-top: 1.8rem;
            }

        }
        
        @media screen and (max-width: 900px) {
            .line {
                left: 26px;
            }
            
            .projectList {
                margin: 0 10px;
            }
        }

        @media screen and (max-width: 760px) {
            .line {
                left: 16px;
            }
            
            .projectList {
                margin: 0;
            }
        }

        @media screen and (max-width: 615px) {
            .line {
                display: none;
            }
        }
    }
}