@import './utils';

.project {
    >div {
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        width: 100%;
    }

    .clickarea {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        // align-items: center;
        width: 100%;
        cursor: pointer;

        .dot {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            z-index: 1;
            
            >div {
                background-color: black;
                margin: 5px;
                width: 7px;
                height: 7px;
                border-radius: 100%;
            }

            &.clicked {
                >div {
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .pointer {
            margin-bottom: 5px;

            border-top: 15px solid transparent;
            border-left: 0px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 15px solid transparent;

            transition: none;

            &.clicked {
                border-right-color: $project-box;
                transition: all 0.5s ease-out;
            }
        }

        .name {
            padding: 35px 35px 10px 35px;
            border-radius: 10px 10px 0 0;
            
            display: flex;
            align-items: center;
            flex: 1;

            transition: none;

            >div {
                display: flex;
                align-items: center;
                height: 1.6rem;

                h1 {
                    font-size: 1.3rem;
                    font-weight: normal;
                }
                p {
                    margin-left: 10px;
                    color: dimgray;
                    font-size: 1.1rem;
                }
            }

            &.clicked {
                background-color: $project-box;
                transition: all 0.5s ease-out;

                >div h1 {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }

        &:hover {
            .dot >div {
                background-color: grey;
                width: 10px;
                height: 10px;
            }

            .name >div {
                color: grey;
                h1 {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }
    }

    .contents {
        padding-left: 60px;
        width: 100%;
    }
}