@import './utils';

.tablerow {
    width: 100%;
    margin-bottom: 0.9rem;
    padding-left: 0.1rem;

    .date {
        margin-bottom: 0.5rem;
        
        span {
            display: inline-block;
            padding: 0.2rem 0.6rem;
            border-radius: 0.6rem;
            background: $project-box;
            font-size: 1.1rem;
            color: grey;
        }
    }

    .contents {
        margin-left: 1.2rem;
        font-size: 1.2rem;
    }
}