@import './utils.scss';

.title {
    display: flex;
    justify-content: flex-start;

    >div {
        padding-top: 15px;
    }

    p {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .highlight {
        width: 105%;
        height: 14px;
        background-color: $skyblue-white;
        transform: skew(-15deg);

        position: relative;
        top: -23px;
        left: 5px;
        z-index: -1;
    }
}