@import './utils.scss';

.title {
    display: flex;
    justify-content: flex-start;

    >div {
        padding-top: 1rem;
    }

    p {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .highlight {
        width: 105%;
        height: 0.9rem;
        background-color: $skyblue-white;
        transform: skew(-15deg);

        position: relative;
        top: -1.5rem;
        left: 0.3rem;
        z-index: -1;
    }
}

@media screen and (max-width: 500px) {
    .title {
        p {
            font-weight: 500;
        }
    }
}