.url {
    display: flex;
    align-items: center;

    >p {
        // background-color: gray;
        // color: whitesmoke;
        // padding: 3px 6px;
        // border-radius: 6px;
        // font-size: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
    }

    >a {
        color: Forestgreen;
        font-size: 1.1rem;
        margin-left: 13px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: limegreen;
        }

        >svg {
            padding-left: 4px;
            font-size: 1.2rem;
        }
    }

    & + & {
        margin-top: 7px;
    }
}
