div, h1, h2, h3, p, button {
    transition: all 0.2s ease-out;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
