body, p, h1, h2, pre, td {
    margin: 0;
    padding: 0;
}

div, h1, h2, h3, p, button {
    transition: all 0.2s ease-out;
}

body {
    overflow-y: scroll;
    font-family: 'NanumGothic';
    line-height: 170%;
}

div {
    box-sizing: border-box;
}
